/*
    Folha de estilo do site One page HTML5 e CSS3
    @author Leslie Bagalho
*/

/*Importação do Google Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em; /* 1em equivale a 16px*/
}

/* CSS Reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Layout */
.container{
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex2{
    display: flex;
    align-items: center;
}

.flex3{
    display: flex;
    flex-direction: column;
}

.flex4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex5{
    display: flex;
    flex-direction: column-reverse;
}

.flex6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.botao{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
}

/* Topo do site */
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Cartões */
.card{
    margin-top: 25px;
    width: 338px;
    height: 520px;
    background-color: #e8e8e8;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
    text-align: center;
}

.card img{
    border-radius: 25px 25px 0px 0px;
}

.card h3{
    margin-top: 15px;
}

.card p{
    text-align: left;
    color: #434343;
    padding: 10px 30px 50px 30px;
}

.card a{
    padding: 10px 100px;
    border: 0;
}

/* Smartphone Portrait*/

/* Cabeçalho */
header{
    height: 60px;
}

.logo img{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

#check{
    display: none;
}

label{
    font-size: 3em;
    top: 5px;
    right: 15px;
    color: rgba(0,0,0,0.5);
}

nav ul{
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

#check:checked ~ul{
    right: 0;
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

/* Destaque */
main{
    height: 75vh;
    background: url(../img/banner.jpg) repeat-x bottom;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1{
    font-size: 2.5em;
}

main h2{
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}

/* Sobre */
#sobre{
    padding: 50px 0px;
    background: url(../img/background.png) repeat-x bottom;
    background-size: cover;
    background-position: center;
}

#destaquesobre{
    display: none;
}

#textosobre{
    color: #fff;
    padding: 0px 10px;
}

#textosobre h2{
    margin-bottom: 10px;
}
.topicossobre{
    margin-top: 20px;
}

.topicossobre img{
    margin-right: 10px;
}

/* One Page */
#onepage{
    padding: 50px 10px;
}

#onepage h2{
    margin-bottom: 10px;
}

#onepage p{
    margin-bottom: 25px;
}

#video iframe{
    width: 340px;
    height: 191px;
    border: 0;
}

/* Wireframe*/
#wireframe{
    padding: 50px 0px;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
}

#textowire{
    color: #fff;
    padding: 0px 10px;
}

#textowire h2{
    margin-bottom: 10px;
}

#textowire p{
    margin-bottom: 40px;
}

#textowire span{
    display: none;
}

#qrcode{
    display: none;
}

/* Conteudo */
#conteudo{
    padding: 50px 0px;
}

#conteudo h2{
    margin-bottom: 25px;
    text-align: center;
}

#todos{
    margin-top: 50px;
    text-align: center;
}

#todos a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.25em;
}

/* Rodape */
address{
    padding: 35px 10px 50px 10px;
    background: url(../img/background2.png);
    background-size: cover;
    background-position: center;
    color: #fff;
}

address img{
    padding-top: 15px;
}
address a{
    text-decoration: none;
    color: #fff;
}

#iconelocal{
    display: none;
}

#dados{
    margin: 30px 0px 15px 0px;
}

#googlemaps{
    display: none;
}

footer{
    padding: 50px;
    background-color: #343538;
    color: #fff;
    text-align: center;
}

#social{
    margin-bottom: 25px;
}

/* Smartphone landscape */
@media(min-width: 576px){
    /* Layout */
    .container{
        max-width: 540px;
    }

    /* Destaque */
    main h1, main h2{
        text-shadow: #000 0.05em 0.05em 0.05em;
    }

    /* One Page */
    #video iframe{
        width: 560px;
        height: 315px;
        border: 0;
    }

    /* Rodape */
    .flex5{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #social{
        margin: 0;
    }
}

/* Tablet Portrait */
@media(min-width: 768px){
    /* Layout */
    .container{
        max-width: 720px;
    }
   
    main{
        height: 45vh;
    }

    main h1{
        font-size: 5.5em;
    }

    main h2{
        font-size: 2.5em;
    }

}

/* Tablet Landscape */
@media(min-width: 992px){
    /* Layout */
    .container{
        max-width: 960px;
    }

    /* Destaque */
    main{
        height: 70vh;
    }
}

/* PC e Notebook */
@media(min-width: 1200px){

    /* Layout */
    .container{
        max-width: 1140px;
    }

    /* Cabeçalho */
    header{
        height: 80px;
    }

    .logo img{
        width: 110px;
        height: 55px;
    }

    label{
        display: none;
    }

    nav ul{
        position: static;
        height: auto;
        background-color: transparent;
    }

    nav ul li{
        float: left;
        border: 0;
    }

    nav ul li a{
        color: #343538;
    }

    nav ul li a:hover{
        color: #c00000;
    }

    /* Sobre */
    #sobre{
        background-attachment: fixed;
    }

    #destaquesobre{
        display: inline;
    }

    #destaquesobre img{
        border-radius: 50%;
        margin-right: 50px;
    }

    /* One Page */
    .flex3{
        flex-direction: row;
        align-items: center;
    }

    /* Wireframe */
    #wireframe{
        background-attachment: fixed;
    }

    #wireframe span{
        display: inline;
        color: #c00000;
    }

    #qrcode{
        display: inline;
    }

    #qrcode img{
        width: 225px;
        height: 225px;
    }

    /* Rodape */
    #iconelocal{
        display: inline;
    }

    #iconemapa{
        display: none;
    }

    #googlemaps{
        display: inline;
    }

    .flex6{
        flex-direction: row-reverse;
    }
}
